<div class="row">
  <div class="large-12 columns">
    <h1><%= @article.title %></h1>
  </div>
</div>

<div class="row">
  <div class="large-9 small-12 columns">
    <p><%= @article.body %></p>
  </div>
  
  <div class="large-9 small-12 columns">
    <h3>Comments (<%= @article.comments.size %>)</h3>
<%= render partial: 'articles/comment', collection: @article.comments %>
  </div>
  <div class="large-9 small-12 columns">
  <%= render partial: 'comments/form' %>
</div>
  <div class="large-3 small-12 columns">
    <%= link_to "<< BACK TO ARTICLES LIST", articles_path, class: 'button' %>
    <%= link_to "DELETE ARTICLE", article_path(@article), class: 'button alert', method: :delete  %>
    <%= link_to "EDIT ARTICLE", edit_article_path(@article), class: 'button secondary' %>
  </div>
</div>

<!-- data: {confirm: "Really delete the article?"} not working -->
